<%- include('header'); %>


<h1 class="nameTitle">Hét Museum.</h1>
<br>
<br>

<div class=infoTekst>Deze website is in het leven geroepen door michael de munter in het kader van opdracht 3 voor CMT4 en is volledig fictief. hieronder vind je de highlight van deze maand.
<br>
<br>
Deze maand in de spotlight:
<br>
<br>
A rare piece called the Hilye from Turkey, Instanbul, a type of calligraphy that describes the attributes of the Prophet (PBUH). 
<br>
<br>

  <div class="spotlight">
  <div class="spotlight-item <%=images[0].classes%>">
  <img src="<%=images[0].img%>" alt="<%=images[0].alt%>"></img>
  </div>
  </div>
   
    
</div>
</div>



<%- include('footer'); %>

<br>
<div class="infoTekst">URL naar heroku:

</div>